
html {
    height: 100%;
}

body {
    height: 100%;
    padding-bottom: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
    color: #00B7FF;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.social-feed-container{
    float: left;
    width: 135px;
    margin-top: 10px;
}

.social-text{
    margin-top: 22px;
}

.btn{
    margin-right: 10px;
}
.button-font {
    font-size: 1.25em;
}
.airbug-image {
    max-width: 100%;
    height: auto;
}

.about-description {
    max-width: 850px;
    padding-left: 15px;
    margin-bottom: 30px;
    text-align: left;
    font-size: 1.250em;
    font-weight: 300;
}

/* Stay in flow
********************************************/
.inactive-button{
    height: 24px;
    width: 24px;
    border-radius: 12px;
    background-color: red;
    display: inline-block;
    position: relative;
}

#default-inactive-mode-feature-form {
    height: 40px;
}


/* Navigation
********************************************/

.navbar-fixed-top{
    height: 100px;
}

.nav-position{
    padding-top: 28px;
}

.nav-font {
    font-size: 1.125em;
}

.nav-font li{
    padding-right: 15px;
}

/* Home Page
********************************************/

.header-tagline {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 30px;
}

.airbug-screenshot{
    margin-top: 35px;
}
.row3{
    background-color:   #abcecb;
}

.row5{
    background-color:   #abcecb;
}



/* Features
********************************************/
.feature-container{
    max-width: 258px;
    margin: 0 auto;
}

.benefit-container{
    max-width: 834px;
    margin: 0 auto;
}

.benefit-title {
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 2.625em
}

.benefit-description {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.250em;
    font-weight: 300;
}

.feature {
    font-size:1.313em;
    line-height: 1.1px;
    color: rgb(42,42,42);
    padding-left: 15px;
    text-align:left;
}

.feature-description{
    font-size: .875em;
    color: rgb(90,90,90);
    padding-left: 15px;
    text-align: left;
}

/* Footer
********************************************/

.footer{
  height: 275px;
  margin-top: 40px;
  margin-bottom: 30px;
}

#app-container {
    min-width: 726px;
    position: relative;
    display: block;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    border-left: solid 1px #CCCCCC;
    border-right: solid 1px #CCCCCC;
    background: #f4f5f5;
    background: -moz-linear-gradient(top,  #f4f5f5 0%, #f4f5f5 70%, #abcecb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f5f5), color-stop(70%,#f4f5f5), color-stop(100%,#abcecb));
    background: -webkit-linear-gradient(top,  #f4f5f5 0%,#f4f5f5 70%,#abcecb 100%);
    background: -o-linear-gradient(top,  #f4f5f5 0%,#f4f5f5 70%,#abcecb 100%);
    background: -ms-linear-gradient(top,  #f4f5f5 0%,#f4f5f5 70%,#abcecb 100%);
    background: linear-gradient(to bottom,  #f4f5f5 0%,#f4f5f5 70%,#abcecb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f5f5', endColorstr='#abcecb',GradientType=0 );
}

#page-container {
    position: relative;
    display: block;
    height: 100%;
    padding-top: 100px;
}

.page-container-fadein {
    opacity: 1;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
    transition: opacity 1s linear;
}

.page-container-fadeout {
    opacity: 0.3;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
    transition: opacity 1s linear;
}

.page {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.page-slide-in-from-left{
    left:0;
    -webkit-transition: visibility 0.5s step-end;
    -moz-transition: visibility 0.5s step-end;
    -o-transition: visibility 0.5s step-end;
    -ms-transition: visibility 0.5s step-end;
    transition: visibility 0.5s step-end;
    -webkit-animation: page-slide-in-from-left-animation 0.5s linear;
    -moz-animation: page-slide-in-from-left-animation 0.5s linear;
    -ms-animation: page-slide-in-from-left-animation 0.5s linear;
    -o-animation: page-slide-in-from-left-animation 0.5s linear;
    animation: page-slide-in-from-left-animation 0.5s linear;
}


@-webkit-keyframes page-slide-in-from-left-animation {
    0% { left:-100%; }
    100% { left:0%; }
}

@-moz-keyframes page-slide-in-from-left-animation {
    0% { left:-100%; }
    100% { left:0%; }
}

@-ms-keyframes page-slide-in-from-left-animation {
     0% { left:-100%; }
    100% { left:0%; }
}

@-o-keyframes page-slide-in-from-left-animation {
    0% { left:-100%; }
    100% { left:0%; }
}

@keyframes page-slide-in-from-left-animation {
    0% { left:-100%; }
    100% { left:0%; }
}


.page-slide-in-from-right{
    left:0;
    -webkit-transition: visibility 0.5s step-end;
    -moz-transition: visibility 0.5s step-end;
    -o-transition: visibility 0.5s step-end;
    -ms-transition: visibility 0.5s step-end;
    transition: visibility 0.5s step-end;
    -webkit-animation: page-slide-in-from-right-animation 0.5s linear;
    -moz-animation: page-slide-in-from-right-animation 0.5s linear;
    -ms-animation: page-slide-in-from-right-animation 0.5s linear;
    -o-animation: page-slide-in-from-right-animation 0.5s linear;
    animation: page-slide-in-from-right-animation 0.5s linear;
}


@-webkit-keyframes page-slide-in-from-right-animation {
    0% { left:100%; }
    100% { left:0%; }
}

@-moz-keyframes page-slide-in-from-right-animation {
    0% { left:100%; }
    100% { left:0%; }
}

@-ms-keyframes page-slide-in-from-right-animation {
     0% { left:100%; }
    100% { left:0%; }
}

@-o-keyframes page-slide-in-from-right-animation {
    0% { left:100%; }
    100% { left:0%; }
}

@keyframes page-slide-in-from-right-animation {
    0% { left:100%; }
    100% { left:0%; }
}



.page-slide-out-to-left-and-hide{
    visibility: hidden;
    -webkit-transition: visibility 0.5s step-end;
    -moz-transition: visibility 0.5s step-end;
    -o-transition: visibility 0.5s step-end;
    -ms-transition: visibility 0.5s step-end;
    transition: visibility 0.5s step-end;
    -webkit-animation: page-slide-out-to-left-animation 0.5s linear;
    -moz-animation: page-slide-out-to-left-animation 0.5s linear;
    -ms-animation: page-slide-out-to-left-animation 0.5s linear;
    -o-animation: page-slide-out-to-left-animation 0.5s linear;
    animation: page-slide-out-to-left-animation 0.5s linear;
}


@-webkit-keyframes page-slide-out-to-left-animation {
    0% { left:0%; }
    100% { left: -100%; }
}

@-moz-keyframes page-slide-out-to-left-animation {
    0% { left:0%; }
    100% { left: -100%; }
}

@-ms-keyframes page-slide-out-to-left-animation {
    0% { left:0%; }
    100% { left: -100%; }
}

@-o-keyframes page-slide-out-to-left-animation {
    0% { left:0%; }
    100% { left: -100%; }
}

@keyframes page-slide-out-to-left-animation {
    0% { left:0%; }
    100% { left: -100%; }
}

.page-slide-out-to-right-and-hide {
    visibility: hidden;
    -webkit-transition: visibility 0.5s step-end;
    -moz-transition: visibility 0.5s step-end;
    -o-transition: visibility 0.5s step-end;
    -ms-transition: visibility 0.5s step-end;
    transition: visibility 0.5s step-end;
    -webkit-animation: page-slide-out-to-right-animation 0.5s linear;
    -moz-animation: page-slide-out-to-right-animation 0.5s linear;
    -ms-animation: page-slide-out-to-right-animation 0.5s linear;
    -o-animation: page-slide-out-to-right-animation 0.5s linear;
    animation: page-slide-out-to-right-animation 0.5s linear;
}

@-webkit-keyframes page-slide-out-to-right-animation {
    0% { left:0%; }
    100% { left:100%; }
}

@-moz-keyframes page-slide-out-to-right-animation {
    0% { left:0%; }
    100% { left:100%; }
}

@-ms-keyframes page-slide-out-to-right-animation {
    0% { left:0%; }
    100% { left:100%; }
}

@-o-keyframes page-slide-out-to-right-animation {
    0% { left:0%; }
    100% { left:100%; }
}

@keyframes page-slide-out-to-right-animation {
    0% { left:0%; }
    100% { left:100%; }
}

.page-slide-out-to-top-and-hide {
    visibility: hidden;
    -webkit-transition: visibility 0.5s step-end;
    -moz-transition: visibility 0.5s step-end;
    -o-transition: visibility 0.5s step-end;
    -ms-transition: visibility 0.5s step-end;
    transition: visibility 0.5s step-end;
    -webkit-animation: page-slide-out-to-top-animation 0.5s linear;
    -moz-animation: page-slide-out-to-top-animation 0.5s linear;
    -ms-animation: page-slide-out-to-top-animation 0.5s linear;
    -o-animation: page-slide-out-to-top-animation 0.5s linear;
    animation: page-slide-out-to-top-animation 0.5s linear;
}

@-webkit-keyframes page-slide-out-to-top-animation {
    0% { top:0; }
    100% { top: -100%; }
}

@-moz-keyframes page-slide-out-to-top-animation {
    0% { top:0; }
    100% { top: -100%; }
}

@-ms-keyframes page-slide-out-to-top-animation {
     0% { top:0; }
    100% { top: -100%; }
}

@-o-keyframes page-slide-out-to-top-animation {
    0% { top:0; }
    100% { top: -100%; }
}

@keyframes page-slide-out-to-top-animation {
    0% { top:0; }
    100% { top: -100%; }
}

.page-slide-out-to-bottom-and-hide {
    visibility: hidden;
    -webkit-transition: visibility 0.5s step-end;
    -moz-transition: visibility 0.5s step-end;
    -o-transition: visibility 0.5s step-end;
    -ms-transition: visibility 0.5s step-end;
    transition: visibility 0.5s step-end;
    -webkit-animation: page-slide-out-to-bottom-animation 0.5s linear;
    -moz-animation: page-slide-out-to-bottom-animation 0.5s linear;
    -ms-animation: page-slide-out-to-bottom-animation 0.5s linear;
    -o-animation: page-slide-out-to-bottom-animation 0.5s linear;
    animation: page-slide-out-to-bottom-animation 0.5s linear;
}

@-webkit-keyframes page-slide-out-to-bottom-animation {
    0% { top:0; }
    100% { top:100%; }
}

@-moz-keyframes page-slide-out-to-bottom-animation {
    0% { top:0; }
    100% { top:100%; }
}

@-ms-keyframes page-slide-out-to-bottom-animation {
     0% { top:0; }
    100% { top:100%; }
}

@-o-keyframes page-slide-out-to-bottom-animation {
    0% { top:0; }
    100% { top:100%; }
}

@keyframes page-slide-out-to-bottom-animation {
    0% { top:0; }
    100% { top:100%; }
}

.page-slide-in-from-top {
    top: 0;
    -webkit-animation: page-slide-in-from-top-animation 0.5s linear;
    -moz-animation: page-slide-in-from-top-animation 0.5s linear;
    -ms-animation: page-slide-in-from-top-animation 0.5s linear;
    -o-animation: page-slide-in-from-top-animation 0.5s linear;
    animation: page-slide-in-from-top-animation 0.5s linear;
}

@-webkit-keyframes page-slide-in-from-top-animation {
    0% { top: -100%; }
    100% { top: 0; }
}

@-moz-keyframes page-slide-in-from-top-animation {
    0% { top: -100%; }
    100% { top: 0; }
}

@-ms-keyframes page-slide-in-from-top-animation {
     0% { top: -100%; }
    100% { top: 0; }
}

@-o-keyframes page-slide-in-from-top-animation {
    0% { top: -100%; }
    100% { top: 0; }
}

@keyframes page-slide-in-from-top-animation {
    0% { top: -100%; }
    100% { top: 0; }
}

.page-slide-in-from-bottom {
    top: 0;
    -webkit-animation: page-slide-in-from-bottom-animation 0.5s linear;
    -moz-animation: page-slide-in-from-bottom-animation 0.5s linear;
    -ms-animation: page-slide-in-from-bottom-animation 0.5s linear;
    -o-animation: page-slide-in-from-bottom-animation 0.5s linear;
    animation: page-slide-in-from-bottom-animation 0.5s linear;
}

@-webkit-keyframes page-slide-in-from-bottom-animation {
    0% { top: 100%; }
    100% { top: 0; }
}

@-moz-keyframes page-slide-in-from-bottom-animation {
    0% { top: 100%; }
    100% { top: 0; }
}

@-ms-keyframes page-slide-in-from-bottom-animation {
     0% { top: 100%; }
    100% { top: 0; }
}

@-o-keyframes page-slide-in-from-bottom-animation {
    0% { top: 100%; }
    100% { top: 0; }
}

@keyframes page-slide-in-from-bottom-animation {
    0% { top: 100%; }
    100% { top: 0; }
}


/* Drag and Drop Code
********************************************/

.grab {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -ms-grab;
    cursor: -o-grab;
}

.grabbing {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: -ms-grabbing;
    cursor: -o-grabbing;
}

.drag-released {
    -webkit-transition: left 1s linear, top 1s linear;
    -moz-transition: left 1s linear, top 1s linear;
    -o-transition: left 1s linear, top 1s linear;
    -ms-transition: left 1s linear, top 1s linear;
    transition: left 1s linear, top 1s linear;
}


/* Feedback
********************************************/


/*.feedback-container {
    display: block;
    position: absolute;
    top: 150px;
    right: 0px;
    width: 200px;
    height: 200px;
}*/

#feedback-container {
    display: none;
    position: absolute;
    width: 576px;
    height: 415px;
    top: 100px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-left: solid 1px #CCCCCC;
    border-top: solid 1px #CCCCCC;
    border-bottom: solid 1px #CCCCCC;
    background-color: #FFFFFF;
}

.feedback-container-expand {
    right: 0px;
    -webkit-transition: right 1s ease;
    -moz-transition: right 1s ease;
    -o-transition: right 1s ease;
    -ms-transition: right 1s ease;
    transition: right 1s ease;
}

.feedback-container-collapse {
    right: -578px;
    -webkit-transition: right 1s ease;
    -moz-transition: right 1s ease;
    -o-transition: right 1s ease;
    -ms-transition: right 1s ease;
    transition: right 1s ease;
}

.feedback-form-container {
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    width: 516px;
}

#feedback-form {
    position: relative;
}

.input-feedback {
    width: 502px;
}

.feedback-label {
    margin-top: 5px;
}

.feedback-edge-container {
    display: block;
    position: absolute;
    left: -135px;
    top: 50px;
    width: 135px;
    height: 150px;
    cursor: pointer;
}

.feedback-airbug-container {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0px;
    top: 15px;
}

.feedback-airbug-image {
    position: absolute;
    left: 0;
    top: 0;
    max-width:100%;
    height: auto;
}

.feedback-airbug-hide {
    visibility: hidden;
}

.feedback-airbug-show {
    visibility: visible;
}

#feedback-airbug-thankyou-image {
    width: 82px;
}

#feedback-thankyou-message {
    position: absolute;
    display: block;
    top: 99px;
    width: 80px;
    height: 40px;
    border-left: solid 3px #000000;
    border-right: solid 3px #000000;
    border-top: solid 5px #000000;
    border-bottom: solid 5px #000000;
    border-radius: 7px;
    background: #FFFFFF;
    text-align: center;
    line-height: 38px;
    color: #333333;
    font-size: 16px;
}

.feedback-airbug-show-after-collapse {
    visibility: visible;
    -webkit-transition: visibility 1s step-end;
    -moz-transition: visibility 1s step-end;
    -o-transition: visibility 1s step-end;
    -ms-transition: visibility 1s step-end;
    transition: visibility 1s step-end;
}

.feedback-airbug-pull-2-expand {
    -webkit-animation: airbug-pull-2-expand-animation 1s linear 0s;
    -moz-animation: airbug-pull-2-expand-animation 1s linear 0s;
    -ms-animation: airbug-pull-2-expand-animation 1s linear 0s;
    -o-animation: airbug-pull-2-expand-animation 1s linear 0s;
    animation: airbug-pull-2-expand-animation 1s linear 0s;
}

.feedback-airbug-pull-2-collapse {
    -webkit-animation: airbug-pull-2-collapse-animation 1s linear 0s;
    -moz-animation: airbug-pull-2-collapse-animation 1s linear 0s;
    -ms-animation: airbug-pull-2-collapse-animation 1s linear 0s;
    -o-animation: airbug-pull-2-collapse-animation 1s linear 0s;
    animation: airbug-pull-2-collapse-animation 1s linear 0s;
}

.feedback-airbug-pull-3-expand {
    visibility: visible;
    -webkit-transition: visibility 1s step-end 0s;
    -moz-transition: visibility 1s step-end 0s;
    -o-transition: visibility 1s step-end 0s;
    -ms-transition: visibility 1s step-end 0s;
    transition: visibility 1s step-end 0s;
}

@-webkit-keyframes airbug-pull-2-expand-animation {
    0%, 99% { visibility: visible; }
    100% { visibility: hidden; }
}
@-moz-keyframes airbug-pull-2-expand-animation {
    0%, 99% { visibility: visible; }
    100% { visibility: hidden; }
}
@-ms-keyframes airbug-pull-2-expand-animation {
    0%, 99% { visibility: visible; }
    100% { visibility: hidden; }
}
@-o-keyframes airbug-pull-2-expand-animation {
    0%, 99% { visibility: visible; }
    100% { visibility: hidden; }
}
@keyframes airbug-pull-2-expand-animation {
    0%, 99% { visibility: visible; }
    100% { visibility: hidden; }
}

@-webkit-keyframes airbug-pull-2-collapse-animation {
    0%, 99% { visibility: visible; }
    100% { visibility: hidden; }
}
@-moz-keyframes airbug-pull-2-collapse-animation {
    0%, 99% { visibility: visible; }
    100% { visibility: hidden; }
}
@-ms-keyframes airbug-pull-2-collapse-animation {
    0%, 99% { visibility: visible; }
    100% { visibility: hidden; }
}
@-o-keyframes airbug-pull-2-collapse-animation {
    0%, 99% { visibility: visible; }
    100% { visibility: hidden; }
}
@keyframes airbug-pull-2-collapse-animation {
    0%, 99% { visibility: visible; }
    100% { visibility: hidden; }
}

.feedback-tab-container {
    display: block;
    position: absolute;
    width: 40px;
    height: 150px;
    right: 0px;
    top: 0px;
}

#feedback-tab {
    display: block;
    width: 40px;
    height: 140px;
    padding: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-top-right-radius: 0px;
    -moz-border-bottom-right-radius: 0px;
    cursor: pointer;
    background-color: #e6e6e6;
    background-image: -moz-linear-gradient(left,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 100%, 0 0, from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(left,#fff,#e6e6e6);
    background-image: -o-linear-gradient(left,#fff,#e6e6e6);
    background-image: linear-gradient(to right,#fff,#e6e6e6);
    background-repeat: repeat-y;
    border: 1px solid #ccc;
    border-color: #e6e6e6  #bfbfbf #e6e6e6 #e6e6e6;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.25) rgba(0,0,0,0.1) rgba(0,0,0,0.1);
    border-right-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

#feedback-tab:hover,
#feedback-tab:focus {
    background-position: -15px 0;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

#feedback-tab:active,
#feedback-tab:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 2px 0 4px rgba(0, 0, 0, 0.15), 1px 0 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 2px 0 4px rgba(0, 0, 0, 0.15), 1px 0 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 2px 0 4px rgba(0, 0, 0, 0.15), 1px 0 2px rgba(0, 0, 0, 0.05);
}

.feedback-tab-image {
    display: block;
    position: absolute;
    top: 30px;
}


#interference-container {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
}

#fake-screen-shot-container {
    z-index: 2000;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 1;
    display: none;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
}


/* Loading Page
********************************************/

#loading-page {
    display: block;
    visibility: visible;

}

.loader {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}


/* Explainer Page
********************************************/

/*.logo-container {
    position: relative;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 110px;
}*/

#logo {
    display: block;
    position: absolute;
    width: 200px;
    height: 80px;
    padding: 0px;
}

.marketing-container {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.marketing-tagline {
    display: block;
    width: 510px;
    margin-left: auto;
    margin-right: auto;
}

.marketing-subpoints {
    display: block;
    position: relative;
    width: 704px;
    height: 200px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.marketing-subpoint1 {
    position: absolute;
    display: block;
    width: 200px;
    left: 2px;
    top: 20px;
}

.marketing-subpoint2 {
    position: absolute;
    display: block;
    width: 240px;
    left: 232px;
    top: 20px;
}

.marketing-subpoint3 {
    position: absolute;
    display: block;
    width: 200px;
    left: 502px;
    top: 20px;
}

.beta-sign-up-button-container {
    padding-top: 60px;
}

#beta-sign-up-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.feature-example {
    width: 258px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}


/* Messages
********************************************/

.messages-container {
    position: relative;
    width: 100%;
    max-height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    -moz-transition:height 1s;
    -webkit-transition:height 1s;
    -o-transition:height 1s;
    transition:height 1s;
}

.message-wrapper {
    width: 100%;
    position: relative;
    margin-bottom: 5px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(196, 196, 196);
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    /*box-shadow: 2px 2px 10px #888888;*/
}

.reply-message {
    background-color: rgb(245, 253, 255);
}

.message-image-wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 75px;
}

.message-image {
    position: absolute;
    top: 0px;
    left: 25px;
    width: 100px;
    height: 75px;
}

.message-sent-by {
    color: rgb(176, 176, 176);
    font-size: 17px;
    font-weight: 200;
    left: 14px;
    position: absolute;
    top: 9px;
    margin: 0;
}

.message-sent-at {
    color: rgb(210, 228, 243);
    text-align:right;
    line-height: 30px;
}

.message-body {
    font-size: 15px;
    font-weight: 200;
    margin-left: 20px;
    margin-bottom: 10px;
    text-align: left;
}

.message-image-markup-icon {
    position: absolute;
    left: 125px;
    top: 0px;
}

.chat-input {
    width: 280px;
}

.chat-form {
    padding-top: 10px;
}


/* Capture Content
********************************************/

#capture-content-start-message {
    display: none;
}

#capture-content-reply-message {
    display: none;
}

#capture-content-camera-button {
    margin-left: 10px;
    margin-right: 0;
}

#capture-content-fake-screenshot {
    display: none;
}


/* Image Markup
********************************************/

#image-markup-reply-message {
    display: none;
}


/* Beta Sign Up Page
********************************************/

#beta-sign-up-page {
   border-top: 1px;
}

/* Beta Sign Up Page Navigation
********************************************/

.arrow-container {
    display: block;
    position: absolute;
    width: 75px;
    height: 75px;
    left: 325px;
    top: 220px;
    z-index: 1;
}

.arrow {
    width: 75px;
    height: 75px;
}

#continue-sign-up-button-container {
    display: none;
    position: absolute;
    left: 273px;
    top: 239px;
    z-index: 1;
    cursor: pointer;
}

#continue-sign-up-button {

}

.nav-pull-down-tab-container {
    display: block;
    position: absolute;
    z-index: 1;
    height: 40px;
    left: 46.5%;
    top: 0px;
    padding-left: 14px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: black;
}

#nav-pull-down-tab {
    display: block;
    width: 50px;
    height: 20px;
    padding: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-top-right-radius: 0px;
    -moz-border-top-left-radius: 0px;
    cursor: pointer;
    background-color: #e6e6e6;
    background-image: -moz-linear-gradient(bottom,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 100%, 0 0, from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(bottom,#fff,#e6e6e6);
    background-image: -o-linear-gradient(bottom,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-y;
    border: 1px solid #ccc;
    border-color: #e6e6e6  #bfbfbf #e6e6e6 #e6e6e6;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.25) rgba(0,0,0,0.1) rgba(0,0,0,0.1);
    border-right-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

#nav-pull-down-tab:hover,
#nav-pull-down-tab:focus {
    background-position: 0 3px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.beta-sign-up-container {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 724px;
}

#instructions-container {
    position: absolute;
    width: 250px;
    top: 420px;
    left: 235px;
    text-align:center
}

.hide-instructions {
    opacity: 0;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
    transition: opacity 1s linear;
}

#bug-swarm-container {
    display: block;
    position: absolute;
    width: 724px;
    height: 800px;
    left: 0px;
    top: 0px;
}

.airbug-container {
    display: block;
    position: absolute;
    width: 126px;
    height: 157px;
}

@-webkit-keyframes airbug-fly-animation {
    0% { -webkit-transform:rotate(-4deg); }
    100% { -webkit-transform:rotate(4deg); }
}

@-moz-keyframes airbug-fly-animation {
    0% { -moz-transform:rotate(-4deg); }
    100% { -moz-transform:rotate(4deg); }
}

@-ms-keyframes airbug-fly-animation {
     0% { -ms-transform:rotate(-4deg); }
    100% { -ms-transform:rotate(4deg); }
}

@-o-keyframes airbug-fly-animation {
    0% { -o-transform:rotate(-4deg); }
    100% { -o-transform:rotate(4deg); }
}

@keyframes airbug-fly-animation {
    0% { transform:rotate(-4deg); }
    100% { transform:rotate(4deg); }
}

#airbug-zendesk-container {
    left: 20px;
    top: 200px;
}

#airbug-zendesk-image {
    -webkit-animation: airbug-fly-animation 1.5s ease-in-out 0s infinite alternate both;
    -moz-animation: airbug-fly-animation 1.5s ease-in-out 0s infinite alternate both;
    -ms-animation: airbug-fly-animation 1.5s ease-in-out 0s infinite alternate both;
    -o-animation: airbug-fly-animation 1.5s ease-in-out 0s infinite alternate both;
    animation: airbug-fly-animation 1.5s ease-in-out 0s infinite alternate both;
}

#airbug-salesforce-container {
    left: 280px;
    top: 30px;
}

#airbug-salesforce-image {
    -webkit-animation: airbug-fly-animation 1.5s ease-in-out 0.2s infinite alternate both;
    -moz-animation: airbug-fly-animation 1.5s ease-in-out 0.2s infinite alternate both;
    -ms-animation: airbug-fly-animation 1.5s ease-in-out 0.2s infinite alternate both;
    -o-animation: airbug-fly-animation 1.5s ease-in-out 0.2s infinite alternate both;
    animation: airbug-fly-animation 1.5s ease-in-out 0.2s infinite alternate both;
}

#airbug-jira-container {
    left: 120px;
    top: 50px;
}

#airbug-jira-image {
    -webkit-animation: airbug-fly-animation 2s ease-in-out 0.4s infinite alternate both;
    -moz-animation: airbug-fly-animation 2s ease-in-out 0.4s infinite alternate both;
    -ms-animation: airbug-fly-animation 2s ease-in-out 0.4s infinite alternate both;
    -o-animation: airbug-fly-animation 2s ease-in-out 0.4s infinite alternate both;
    animation: airbug-fly-animation 2s ease-in-out 0.4s infinite alternate both;
}

#airbug-uservoice-container {
    left: 420px;
    top: 60px;
}

#airbug-uservoice-image {
    -webkit-animation: airbug-fly-animation 2.5s ease-in-out 0s infinite alternate both;
    -moz-animation: airbug-fly-animation 2.5s ease-in-out 0s infinite alternate both;
    -ms-animation: airbug-fly-animation 2.5s ease-in-out 0s infinite alternate both;
    -o-animation: airbug-fly-animation 2.5s ease-in-out 0s infinite alternate both;
    animation: airbug-fly-animation 2.5s ease-in-out 0s infinite alternate both;
}

#airbug-basecamp-container {
    left: 70px;
    top: 360px;
}

#airbug-basecamp-image {
    -webkit-animation: airbug-fly-animation 1.2s ease-in-out 0.6s infinite alternate both;
    -moz-animation: airbug-fly-animation 1.2s ease-in-out 0.6s infinite alternate both;
    -ms-animation: airbug-fly-animation 1.2s ease-in-out 0.6s infinite alternate both;
    -o-animation: airbug-fly-animation 1.2s ease-in-out 0.6s infinite alternate both;
    animation: airbug-fly-animation 1.2s ease-in-out 0.6s infinite alternate both;
}

#airbug-bitbucket-container {
   left: 550px;
   top: 210px;
}

#airbug-bitbucket-image {
    -webkit-animation: airbug-fly-animation 1.8s ease-in-out 0.2s infinite alternate both;
    -moz-animation: airbug-fly-animation 1.8s ease-in-out 0.2s infinite alternate both;
    -ms-animation: airbug-fly-animation 1.8s ease-in-out 0.2s infinite alternate both;
    -o-animation: airbug-fly-animation 1.8s ease-in-out 0.2s infinite alternate both;
    animation: airbug-fly-animation 1.8s ease-in-out 0.2s infinite alternate both;
}

#airbug-github-container {
    left: 520px;
    top: 370px;
}

#airbug-github-image {
    -webkit-animation: airbug-fly-animation 2.0s ease-in-out 0s infinite alternate both;
    -moz-animation: airbug-fly-animation 2.0s ease-in-out 0s infinite alternate both;
    -ms-animation: airbug-fly-animation 2.0s ease-in-out 0s infinite alternate both;
    -o-animation: airbug-fly-animation 2.0s ease-in-out 0s infinite alternate both;
    animation: airbug-fly-animation 2.0s ease-in-out 0s infinite alternate both;
}

#airbug-pivotaltracker-container {
    left: 50px;
    top: 520px;
}

#airbug-pivotaltracker-image {
    -webkit-animation: airbug-fly-animation 1.9s ease-in-out 0.3s infinite alternate both;
    -moz-animation: airbug-fly-animation 1.9s ease-in-out 0.3s infinite alternate both;
    -ms-animation: airbug-fly-animation 1.9s ease-in-out 0.3s infinite alternate both;
    -o-animation: airbug-fly-animation 1.9s ease-in-out 0.3s infinite alternate both;
    animation: airbug-fly-animation 1.9s ease-in-out 0.3s infinite alternate both;
}


    /* OtherAirbug and OtherAirbug Forms
    ********************************************/

#airbug-other-container, .airbug-other-container {
    left: 560px;
    top: 560px;
    -webkit-animation: airbug-fly-animation 2.5s ease-in-out 0s infinite alternate both;
    -moz-animation: airbug-fly-animation 2.5s ease-in-out 0s infinite alternate both;
    -ms-animation: airbug-fly-animation 2.5s ease-in-out 0s infinite alternate both;
    -o-animation: airbug-fly-animation 2.5s ease-in-out 0s infinite alternate both;
    animation: airbug-fly-animation 2.5s ease-in-out 0s infinite alternate both;
}

#airbug-writein-image {
    width: auto;
    height: 103px;
}

#airbug-other-image {
    
}

.other-airbug-faux-form {
    position: absolute;
    margin-top: 100px;
    left: 0;
    top: 0;
}

.other-airbug-faux-form .control-group, #airbug-other-container .controls {
    margin: none;
    padding: none;
}

.other-airbug-faux-form input {
    width: 90px;
    margin-top: 12px;
    margin-left: 10px;
}

#other-airbug-form-container {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 100px;
    left: -28px;
    display: block;
    width: 175px;
    height: 38px;
    border-left: solid 3px #000000;
    border-right: solid 3px #000000;
    border-top: solid 5px #000000;
    border-bottom: solid 5px #000000;
    border-radius: 7px;
    background: #FFFFFF;
}

#other-airbug-form-container.with-buttons {
    width: 199px;
}

#other-airbug-form-container input {
    width: 160px;
}

#other-airbug-form-container input.with-buttons {
    width: 182px;
}

#other-airbug-form-container input.warning {
    color: red;
}

#other-airbug-form-container .btn {
    
}

#other-airbug-form-submit-button {
    display: none;
    position: absolute;
    left: 50px;
    top: 50px;
}

#other-airbug-form-cancel-button {
    display: none;
    position: absolute;
    cursor: pointer;
    top: 8px;
    right: 5px;
    margin: 0;
    padding: 0;
    width: 17px;
    height: 17px;
    border-left: solid 2px #808080;
    border-right: solid 4px #808080;
    border-top: solid 4px #808080;
    border-bottom: solid 3px #808080;
    border-radius: 18px;
    background-color: #808080;
    font-weight: 900;
    font-size: 14pt;
    color: #FFFFFF;
    line-height: 10pt;
}

/* AirbugJar
********************************************/

#airbug-jar-container {
    display: block;
    position: absolute;
    width: 274px;
    height: 427px;
    left: 225px;
    top: 300px;
}

.airbug-jar-image {
    width: 274px;
    height: 427px;
}

.airbug-jar-hotspot {
    display: block;
    position: absolute;
    width: 126px;
    height: 157px;
}

#airbug-jar-hotspot-1 {
    left: 20px;
    top: 40px;
}

#airbug-jar-hotspot-2 {
    left: 130px;
    top: 160px;
}

#airbug-jar-hotspot-3 {
    left: 10px;
    top: 240px;
}

#popup-container {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#beta-sign-up-popup {
    width: 600px;
    height: 400px;
    display: block;
    position: relative;
    top: 150px;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    border-left: solid 3px #000000;
    border-right: solid 3px #000000;
    border-top: solid 5px #000000;
    border-bottom: solid 5px #000000;
    border-radius: 7px;
}

.validation {
    display: inline-block;
    margin: 10px;
}

.validation.invalid {
    color: red;
}


/* Thank You Page
********************************************/

.thank-you-container {
    display: block;
    position: relative;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

#thank-you-airbug {
    display: block;
    position: relative;
    width: 256px;
    height: 240px;
    margin-left: auto;
    margin-right: auto;
}

#thank-you-airbug-image {
    position: absolute;
    display: block;
    width: 82px;
    height: 98px;
    left: 87px;
}

#thank-you-message {
    position: absolute;
    display: block;
    top: 97px;
    width: 250px;
    height: 130px;
    border-left: solid 3px #000000;
    border-right: solid 3px #000000;
    border-top: solid 5px #000000;
    border-bottom: solid 5px #000000;
    border-radius: 7px;
    background: #FFFFFF;
    text-align: center;
    line-height: 38px;
    color: #333333;
    font-size: 20px;
}

/* 404 Page
********************************************/

.wrapper-404 {
    position: relative;
    width: 700px;
    margin-left: auto;
    margin-right: auto;        
}

#logo-404 {
    display: block;
    position: absolute;
    width: 250px;
    height: 150px;
    top: 40px;
    left: 225px;
}

#message-404 {
    position: absolute;
    display: block;
    text-align: center;
    line-height: 38px;
    width:700px;
    color: #333333;
    font-size: 20px;
    top: 180px;
}

#jar-404 {
    display: block;
    position: absolute;
    width: 700px;
    height: 500px;
    top: 290px;   
}