extends layout

block content
  script.
      var firstPage="explainerPage";
      Loader.numExpectedLoadedItems = 5;
  div(id="page-container")
    div(id="loading-page", class="page")
      div(class="row-fluid")
        div(class="span8 offset2")
          div(class="airbug-loader-container")
            img(class="loader", src="/img/ajax-loader.gif", alt="loading...")
    div(id="explainer-page", class="page")
      div(class="row")
        div(class="col-sm-6 col-sm-offset-3")
      div(class="tagline")
        h1(class="header-tagline") Collaborative chat for developers
      div(class="row row1")
        div(class="col-md-12")
          button(type="button", class="btn btn-default button-font", id="beta-sign-up-button-two") request beta invite - free!
      div(class="row row2")
        div(class="col-md-12")
          div(class="airbug-example")
            div(class="airbug-wrapper")
              div(id="user-panel", class="airbug-list-panel")
                div(class="airbug-list-item airbug-list-top")
                  div(class="user-list-header")
                    h3 Room Members
                div(class="airbug-list-item")
                  div(class="user-airbug-list-item")
                    div(id="brian2-status-indicator", class="user-status-indicator")
                    div(class="user-name-text") Brian Neisler
                    div(id="buzz-brian2-button", class="user-buzz")
                      span(class="glyphicon glyphicon-bell glyph-light")
                div(class="airbug-list-item")
                  div(class="user-airbug-list-item")
                    div(id="sung2-status-indicator", class="user-status-indicator")
                    div(class="user-name-text") Sung Choi
                    div(id="buzz-sung2-button", class="user-buzz")
                      span(class="glyphicon glyphicon-bell glyph-light")
                div(class="airbug-list-item")
                  div(class="user-airbug-list-item")
                    div(id="dustin2-status-indicator", class="user-status-indicator")
                    div(class="user-name-text") Dustin Kanske
                    div(id="buzz-dustin2-button", class="user-buzz")
                      span(class="glyphicon glyphicon-bell glyph-light")
                div(class="airbug-list-item")
                  div(class="user-airbug-list-item")
                    div(id="tim2-status-indicator", class="user-status-indicator")
                    div(class="user-name-text") Tim Pote
                    div(id="buzz-tim2-button", class="user-buzz")
                      span(class="glyphicon glyphicon-bell glyph-light")
                div(class="airbug-list-item airbug-list-bottom")
                  div(class="user-airbug-list-item")
                    div(id="michelle2-status-indicator", class="user-status-indicator")
                    div(class="user-name-text") Michelle Wegenstein
                    div(id="buzz-michelle2-button", class="user-buzz")
                      span(class="glyphicon glyphicon-bell glyph-light")
              div(id="room-info-panel", class="airbug-panel")
                div(class="room-info")
                  h2(class="room-name") Developers Room
              div(id="airbug-messages-container-wrapper", class="messages-container-wrapper")
                img(src="/img/line-fade.png", class="left-scroll")
                img(src="/img/line-fade.png", class="right-scroll")
                div(id="airbug-messages-container", class="messages-container")
                  div(id="airbug-start-message", class="message-wrapper")
                    div(class="message-sent-by") Brian
                    div(class="message-sent-at") 8:40PM
                    div(class="message-body")
                      span Welcome to airbug!<br/>
                      span <br/>
                      span This is a simple parody of our actual product. If you want to see the real thing in action, request a beta invite or get one from your friends! It's free :)
                  div(id="airbug-reply-message", class="message-wrapper")
                    div(class="message-sent-by") Dustin
                    div(class="message-sent-at") 8:40PM
                    div(class="message-body") Try out our nifty image markup feature!
                    div(class="message-image-wrapper")
                      img(src="/img/image-message.png", class="message-image")
                      div(class="message-image-markup-icon")
                        button(id="airbug-image-markup-button", type="button", class="airbug-button-invert")
                          div(class="glyphicon glyphicon-pencil")
              div(id="airbug-chat-form", class="chat-form")
                input(type="text", class="form-control chat-input", id="airbug-chat-input", placeholder="")
                button(id="airbug-chat-send-button", type="button", class="airbug-button")
                  div(class="glyphicon glyphicon-arrow-right")
              div(id="airbug-toolbar", class="airbug-panel")
                button(id="airbug-toolbar-image-button", type="button", class="airbug-button-invert airbug-toolbar-button")
                  div(class="glyphicon glyphicon-picture")
                button(id="airbug-toolbar-code-button", type="button", class="airbug-button-invert airbug-toolbar-button")
                  div(class="code-button") &lt;C/&gt;
                button(id="airbug-toolbar-github-button" type="button", class="airbug-button-invert airbug-toolbar-button")
                  div(class="github-image")
      div(class="row row3")
        div(class="col-sm-10 col-sm-offset-1")
          div(class="benefit-container")
            h1(class="benefit-title") Powerful Collaboration...
            h4(class="benefit-description") Questions on code and features, while important, do not always require immediate attention. airbug allows you to efficiently collaborate on your own time with tools for various content types. All you need to do is say it once, then get back to work.
          div(class="row")
            div(class="col-md-4")
              div(class="feature-container")
                div(id="capture-content-feature-example", class="feature-example")
                  div(id="capture-content-messages-container-wrapper", class="messages-container-wrapper")
                    img(src="/img/line-fade.png", class="left-scroll")
                    img(src="/img/line-fade.png", class="right-scroll")
                    div(id="capture-content-messages-container", class="messages-container")
                      div(id="capture-content-start-message", class="message-wrapper")
                        div(class="message-sent-by") Brian
                        div(class="message-sent-at") 8:40PM
                        div(class="message-body") Can you send me a screen shot of the bug?
                      div(id="capture-content-reply-message", class="message-wrapper")
                        div(class="message-sent-by") You
                        div(class="message-sent-at") 8:40PM
                        div(class="message-image-wrapper")
                          img(src="/img/image-message-upsidedown.png", class="message-image")
                  div(id="capture-content-chat-form", class="chat-form")
                    input(type="text", class="form-control chat-input", id="capture-content-chat-input", placeholder="")
                    button(id="capture-content-camera-button", type="button", class="airbug-button")
                      div(class="glyphicon glyphicon-camera")
                h5(class="feature") Content capture
                p(class="feature-description") Capture and share content with one click. Easily grab web clippings, take screenshots and transfer code into the conversation.
            div(class="col-md-4")
              div(class="feature-container")
                div(id="image-markup-feature-example", class="feature-example")
                  div(class="messages-container-wrapper")
                    img(src="/img/line-fade.png", class="left-scroll")
                    img(src="/img/line-fade.png", class="right-scroll")
                    div(id="image-markup-messages-container", class="messages-container")
                      div(id="image-markup-start-message", class="message-wrapper")
                        div(class="message-sent-by") Brian
                        div(class="message-sent-at") 8:40PM
                        div(class="message-body") Still not clear on the bug...
                        div(class="message-image-wrapper")
                          img(src="/img/image-message-upsidedown.png", class="message-image")
                          div(class="message-image-markup-icon")
                            button(id="image-markup-markup-button", type="button" class="airbug-button-invert")
                              div(class="glyphicon glyphicon-pencil")
                      div(id="image-markup-reply-message", class="message-wrapper")
                        div(class="message-sent-by") You
                        div(class="message-sent-at") 8:40PM
                        div(class="message-body") I think the clouds are upside down...
                        div(class="message-image-wrapper")
                          img(src="/img/image-message-upsidedown.png", class="message-image")
                          img(src="/img/airbug-circle.png" class="circle-image")
                h5(class="feature") Image markup
                p(class="feature-description") Elaborate on ideas by adding text directly to an image, point out what's important with arrows, and markup specifics with the draw tool.
            div(class="col-md-4")
              div(class="feature-container")
                div(id="code-markup-feature-example", class="feature-example")
                  div(class="messages-container-wrapper")
                    img(src="/img/line-fade.png", class="left-scroll")
                    img(src="/img/line-fade.png", class="right-scroll")
                    div(id="code-markup-messages-container", class="messages-container")
                      div(id="code-markup-start-message", class="message-wrapper")
                        div(class="message-sent-by") Brian
                        div(class="message-sent-at") 8:40PM
                        div(class="message-body") Might be this bit?
                        div(class="message-code-wrapper")
                          div(class="message-code")
                            span $('html').css({ <br/>
                            span &nbsp;&nbsp;'transform':'rotate(-180deg)' <br/>
                            span }); <br/>
                          div(class="message-code-markup-icon")
                            button(id="code-markup-markup-button", type="button", class="airbug-button-invert")
                              div(class="glyphicon glyphicon-pencil")
                      div(id="code-markup-reply-message", class="message-wrapper")
                        div(class="message-sent-by") You
                        div(class="message-sent-at") 8:40PM
                        div(class="message-body") Yea this line would do it.
                        div(class="message-code-wrapper")
                          div(class="message-code")
                            span $('html').css({ <br/>
                            span &nbsp;&nbsp;'transform':<span class="highlight-code">'rotate(-180deg)'</span> <br/>
                            span }); <br/>
                h5(class="feature") Code annotations 
                p(class="feature-description") Discuss code, provide feedback, and solve problems directly in the chat window by annotating code with comments and highlights.
      div(class="row row4")
        div(class="col-sm-10 col-sm-offset-1")
          div(class="benefit-container")
            h1(class="benefit-title") ...while staying focused...
            h4(class="benefit-description") We know it’s important for developers to minimize distractions and reduce noise during the day. airbug establishes an environment that allows you to keep your head down and turn bits.
          div(class="row")
            div(class="col-md-4")
              div(class="feature-container")
                div(id="heads-down-feature-example", class="feature-example")
                  div(class="airbug-list-item airbug-list-top")
                    div(id="heads-down-status-indicator", class="user-status-indicator")
                    div(class="user-name-text") Your Name
                  div(id="heads-down-content-message", class="message-wrapper")
                    div(class="message-sent-by") Tim
                    div(class="message-sent-at") 8:40PM
                    div(class="message-body" id="heads-down-message") Hey we have a fire, can you buzz one of the devs?
                  div(class="chat-form")
                    input(type="text",id="heads-down-input", class="chat-input", placeholder="type message here")
                    button(id="heads-down-arrow-button", type="button", class="airbug-button")
                      div(class="glyphicon glyphicon-arrow-right")
                h5(class="feature") &quot;Heads Down&quot; mode
                p(class="feature-description") shield yourself from unnecessary distractions by defaulting to &quot;heads down &quot mode unless you are active in the client. Now your team members know when you are available to chat and when you are coding away.
            div(class="col-md-4")
              div(class="feature-container")
                div(class="feature-example")
                  div(id="buzz-mode-feature-one")
                    div(class="airbug-list-item airbug-list-top")
                      div(id="brian-status-indicator", class="user-status-indicator")
                      div(class="user-name-text") Dustin Kanske
                      div(id="buzz-brian-button", class="user-buzz")
                        span(class="glyphicon glyphicon-bell glyph-light")
                  div(id="buzz-mode-feature-two")
                    div(class="airbug-list-item")
                      div(id="sung-status-indicator", class="user-status-indicator")
                      div(class="user-name-text") Sung Choi
                      div(id="buzz-sung-button", class="user-buzz")
                        span(class="glyphicon glyphicon-bell glyph-light")
                  div(id="buzz-mode-feature-three")
                    div(class="airbug-list-item airbug-list-bottom")
                      div(id="michelle-status-indicator", class="user-status-indicator")
                      div(class="user-name-text") Michelle Wegenstein
                      div(id="buzz-michelle-button", class="user-buzz")
                        span(class="glyphicon glyphicon-bell glyph-light")
                h5(class="feature") Buzz feature
                p(class="feature-description") While it is important for you to keep focused,  there will always be times when it is necessary for your team to get a hold of you. Grab attention using the buzz feature.
            div(class="col-md-4")
              div(class="feature-container")
                div(id="fingertips-feature-example",class="feature-example")
                  div(id="fingertips-toolbar")
                    button(id="fingertips-image-button", type="button", class="airbug-button-invert airbug-toolbar-button")
                      div(class="glyphicon glyphicon-picture")
                    button(id="fingertips-code-button", type="button", class="airbug-button-invert airbug-toolbar-button")
                      div(class="code-button") &lt;C/&gt;
                    button(id="fingertips-github-button", type="button", class="airbug-button-invert airbug-toolbar-button")
                      div(class="github-image")
                  div(id="fingertips-messages-container-wrapper", class="messages-container-wrapper")
                    img(src="/img/line-fade.png", class="left-scroll")
                    img(src="/img/line-fade.png", class="right-scroll")
                    div(id="fingertips-messages-container", class="messages-container")
                      div(id="fingertips-message", class="message-wrapper")
                        div(class="message-sent-by") Dustin
                        div(class="message-sent-at") 8:40PM
                        div(class="message-body") I can jump on the issue, will you send me some pointers??
                h5(class="feature") Everything at your fingertips
                p(class="feature-description") Quickly access all your content in one place. Collaborate on images, code, and content from your other favorite tools - all while staying in the chat client.
      div(class="row row5")
        div(class="col-sm-10 col-sm-offset-1")
          div(class="benefit-container")
            h1(class="benefit-title") ...and keeping pace.
            h4(class="benefit-description") Your time is valuable. Don't waste it getting up to speed or reconstructing your previous discussion. airbug allows you to maintain a frame of reference in each conversation, past or present, letting you pick up right where you left off.  
          div(class="row")
            div(class="col-md-4")
              div(class="feature-container")
                div(id="threaded-messages-feature-example", class="feature-example")
                  div(class="messages-container-wrapper")
                    img(src="/img/line-fade.png", class="left-scroll")
                    img(src="/img/line-fade.png", class="right-scroll")
                    div(id="threaded-messages-messages-container", class="messages-container")
                      div(id="threaded-start-message", class="message-wrapper")
                        div(class="message-sent-by") Brian
                        div(class="message-sent-at") 8:40PM
                        div(class="message-body" id="threaded-message-body") Did you just break the server?
                          div(class="message-reply-icon")
                            button(id="threaded-messages-reply-button", type="button", class="airbug-button-invert")
                              div(id="reply-arrow")
                        div(id="threaded-messages-reply-message", class="message-wrapper reply-message")
                          div(class="message-sent-by threaded-text") You
                          div(class="message-sent-at threaded-text") 8:40PM
                          div(class="message-body threaded-text") Yep, my bad, working on it now
                          div(class="message-threaded-response") 3 more replies
                h5(class="feature") Threaded conversations
                p(class="feature-description") Many chat clients require you to have a chronological conversation. airbug offers threaded conversations to organize your chat by topic making collaboration simple and keeping responses relevant no matter where the conversation picks up. 
            div(class="col-md-4")
              div(class="feature-container")
                div(id="embedded-content-feature-example", class="feature-example")
                  div(class="messages-container-wrapper")
                    img(src="/img/line-fade.png", class="left-scroll")
                    img(src="/img/line-fade.png", class="right-scroll")
                    div(id="embedded-content-messages-container", class="messages-container")
                      div(id="embedded-content-image-message", class="message-wrapper")
                        div(class="message-sent-by") Tim
                        div(class="message-sent-at") 8:40PM
                        div(class="message-body") Noticed the server flat-lined...
                        div(class="message-image-wrapper")
                          img(src="/img/server-flatline.png", class="message-image")
                      div(id="embedded-content-code-message", class="message-wrapper")
                        div(class="message-sent-by") Brian
                        div(class="message-sent-at") 8:40PM
                        div(class="message-body") Working on it, think it's this code
                        div(class="message-code-wrapper")
                          div(class="message-code")
                            span while (true) { <br/>
                            span &nbsp;&nbsp;cookieMonster.eatMemory();
                            span }
                h5(class="feature") Embedded content 
                p(class="feature-description") Keep everyone on the same page with embedded content. Automatically view screenshots, github issues, code snippets and other types of content typically hidden behind links. 
            div(class="col-md-4")
              div(class="feature-container")
                div(id="snapshot-content-feature-example",class="feature-example")
                  div(id="snapshot-content-messages-container-wrapper", class="messages-container-wrapper")
                    img(src="/img/line-fade.png", class="left-scroll")
                    img(src="/img/line-fade.png", class="right-scroll")
                    div(id="snapshot-content-messages-container", class="messages-container")
                      div(id="snapshot-content-message-one", class="message-wrapper")
                        div(class="message-sent-by") Sung
                        div(class="message-sent-at") 2:25PM
                        div(class="message-body") Hey! Can you send me the bug report for the server crash?
                      div(id="snapshot-content-message-two", class="message-wrapper")
                        div(class="message-sent-by") You
                        div(class="message-sent-at") 2:25PM
                        div(class="message-body") here's the bug report
                        div(class="message-image-wrapper")
                          div(class="bug-report-open") OPEN
                          img(id="bug-report", src="/img/report-icon.png", class="message-image")
                      div(id="snapshot-content-message-three", class="message-wrapper")
                        div(class="message-sent-by") Sung
                        div(class="message-sent-at") 2:25PM
                        div(class="message-body") Cool, looks good, I think we can close it up.
                      div(id="snapshot-content-message-four", class="message-wrapper")
                        div(class="message-sent-by") Sung
                        div(class="message-sent-at") 2:25PM
                        div(class="message-image-wrapper")
                          div(id="bug-report-closed", class="bug-report-open") CLOSED
                          img(id="bug-report", src="/img/report-icon.png", class="message-image")
                  div(id="snapshot-toolbar")
                    div(class="bug-report-text") Bug Report
                    div(class="bug-report-image")
                      div(id="report-open", class="bug-report-open") OPEN
                      div(id="report-closed", class="bug-report-open") CLOSED
                      img(id="bug-report", src="/img/report-icon.png")
                    button(id="snapshot-content-button", type="button", class="airbug-button-invert")
                      div(class="glyphicon glyphicon-arrow-left")
                h5(class="feature") Snapshots of content
                p(class="feature-description") Establish a frame of reference for future conversations by capturing snapshots of content in the moment with one click.
      div(class="footer")
        div(class="row")
          div(class="col-sm-5 col-sm-offset-1 ") 
            h5(class="feature") About airbug
            p(class="about-description") airbug is a new type of collaborative chat client designed specifically with developers in mind. We believe in a very simple principle: help developers collaborate without breaking their concentration.
            p(class="about-description") Questions? Want to chat? Drop us a line at 
              a(href="mailto:info@airbug.com", target="_blank") info@airbug.com
            form(class="form-inline", role="form")
              div(class="form-group")
              button(type="button", class="btn btn-default button-font", id="beta-sign-up-button-three") request beta invite - free!
          div(class="col-sm-5 col-sm-offset-1")
            h5(class="feature") Connect with airbug
            div(class="social-feed-container")
              a(href="https://twitter.com/airbug", target="_blank", class="twitter-follow-button", data-show-count="false")
            p(class="social-text") Follow us on 
              a(href="https://twitter.com/airbug", target="_blank") Twitter
            div(class="social-feed-container")
              div(class="fb-like", data-href="http://www.facebook.com/integrate.airbug", data-width="50px", data-height="25px", data-colorscheme="light", data-layout="button_count", data-action="like", data-show-faces="true", data-send="false") 
            p(class="social-text") Like us on 
                a(href="https://www.facebook.com/integrate.airbug", target="_blank") Facebook
    div(id="beta-sign-up-page", class="page")
      nav
        div(class="nav-pull-down-tab-container")
          div(id="nav-pull-down-tab", class="btn btn-large")
            span(class="glyphicon glyphicon-chevron-left", id="chevron-left")
      div(class="row-fluid")
        div(class="span12")
          div(class="beta-sign-up-container")
            div(id="instructions-container")
              h3(class="instructions-text") Select the three tools you use the most and place them in the jar
            div(class="arrow-container")
              img(class="arrow", src="/img/arrow-down.png", alt="drag and drop the airbugs to the bug jar");
            div(id="continue-sign-up-button-container")
              button(id="continue-sign-up-button", class="btn btn-large btn-info") Continue sign up
            div(id="bug-swarm-container")
              div(id="airbug-zendesk-container", class="airbug-container")
                img(id="airbug-zendesk-image", class="airbug-image", src="/img/airbug-service-swarm-zendesk.png", alt="Zendesk")
              div(id="airbug-salesforce-container", class="airbug-container")
                img(id="airbug-salesforce-image", class="airbug-image", src="/img/airbug-service-swarm-salesforce.png", alt="Salesforce")
              div(id="airbug-jira-container", class="airbug-container")
                img(id="airbug-jira-image", class="airbug-image", src="/img/airbug-service-swarm-jira.png", alt="JIRA")
              div(id="airbug-uservoice-container", class="airbug-container")
                img(id="airbug-uservoice-image", class="airbug-image", src="/img/airbug-service-swarm-uservoice.png", alt="User Voice")
              div(id="airbug-basecamp-container", class="airbug-container")
                img(id="airbug-basecamp-image", class="airbug-image", src="/img/airbug-service-swarm-basecamp.png", alt="Basecamp")
              div(id="airbug-bitbucket-container", class="airbug-container")
                img(id="airbug-bitbucket-image", class="airbug-image", src="/img/airbug-service-swarm-bitbucket.png", alt="bitbucket")
              div(id="airbug-github-container", class="airbug-container")
                img(id="airbug-github-image", class="airbug-image", src="/img/airbug-service-swarm-github.png", alt="github")
              div(id="airbug-pivotaltracker-container", class="airbug-container")
                img(id="airbug-pivotaltracker-image", class="airbug-image", src="/img/airbug-service-swarm-pivotaltracker.png", alt="Pivotal Tracker")
              div(id="airbug-other-container", class="airbug-container")
                img(id="airbug-writein-image", class="airbug-image", src="/img/airbug-service-swarm-writein.png", alt="Other")
                div(id="other-airbug-form-container")
                  div(id="other-airbug-form")
                    div(id="other-airbug-form-cancel-button", class="", type="button") &nbsp;x
                    div(class="control-group")
                      div(class="controls")
                        input(type="text", id="other", name="other", placeholder="Specify another tool here")
                    div(class="control-group")
                      div(class="controls")
                        button(id="other-airbug-form-submit-button", class="btn btn-info", type="button") Submit
            div(id="airbug-jar-container")
              img(class="airbug-jar-image", src="/img/airbug-jar.png")
              div(id="airbug-jar-hotspot-1", class="airbug-jar-hotspot")
              div(id="airbug-jar-hotspot-2", class="airbug-jar-hotspot")
              div(id="airbug-jar-hotspot-3", class="airbug-jar-hotspot")
      div(id="beta-sign-up-modal", class="modal fade")
        div(class="modal-dialog")
          div(class="modal-content")
            div(class="modal-header")
              button(type="button", class="close", data-dismiss="modal", aria-hidden="true")&times;
              h3 Beta sign up
            div(class="modal-body")
              div(class="beta-sign-up-form-container")
                form(method="post", action="beta-sign-up", id="beta-sign-up-form", class="form-horizontal")
                  div(class="control-group")
                    label(class="control-label", for="name") Name
                    div(class="controls")
                      input(type="text", id="name", name="name", placeholder="Name")
                      div(class="validation required") * required
                  div(class="control-group")
                    label(class="control-label", for="email") Email
                    div(class="controls")
                      input(type="text", id="email", name="email", placeholder="Email")
                      div(class="validation required") * required
                  div(class="control-group")
                    label(class="control-label", for="company") Company
                    div(class="controls")
                      input(type="text", id="company", name="company", placeholder="Company")
                      div(class="validation")
                  div(class="control-group")
                    label(class="control-label", for="phoneNumber") Phone Number
                    div(class="controls")
                      input(type="text", id="phoneNumber", name="phoneNumber", placeholder="Phone Number")
                      div(class="validation")
                  div(class="control-group")
                    label(class="control-label", for="companySize") Company Size
                    div(class="controls")
                      select(id="companySize", name="companySize")
                        option 1 person
                        option 2 - 5 people
                        option 6 - 20 people
                        option 20+ people
                      div(class="validation")
                  div(class="control-group")
                    label(class="control-label", for="position") Position in Company
                    div(class="controls")
                      input(type="text", id="position", name="position", placeholder="Position in Company")
                      div(class="validation")
                  div(class="control-group")
                    div(class="controls")
                      button(id="beta-sign-up-form-submit-button", class="btn btn-info", type="button") Submit
                      button(id="beta-sign-up-form-cancel-button", class="btn", type="button") Cancel
    div(id="thank-you-page", class="page")
      div(class="row-fluid")
        div(class="span12")
          div(class="thank-you-container")
            div(id="thank-you-airbug")
              img(id="thank-you-airbug-image", class="thankyou-airbug-image", src="/img/airbug-carry.png")
              div(id="thank-you-message")
                p(style='white-space:pre;')
                  span Thank you for requesting an invite!
                p(style='white-space:pre;')
                  span Interested in being an alpha tester?
                  span Contact us at <a href="mailto:alpha@airbug.com", target="_blank">alpha@airbug.com</a>
                  span Otherwise hold-tight
                  span We'll reach out when
                  span more beta invites are available.
                div(class="social-feed-container")
                  div(class="social-thankyou-wrap")
                    div(class="twitter-thankyou")
                      a(href="https://twitter.com/airbug", target="_blank", class="twitter-follow-button", data-show-count="false")
                    div(class="facebook-thankyou")
                      div(class="fb-like", data-href="http://www.facebook.com/integrate.airbug", data-width="50px", data-height="25px", data-colorscheme="light", data-layout="button_count", data-action="like", data-show-faces="true", data-send="false") 
                
