extends layout

block content
  script
      var firstPage="explainerPage";
      Loader.numExpectedLoadedItems = 5;
  script
  div(id="page-container")
    div(id="loading-page", class="page")
      div(class="row-fluid")
        div(class="span8 offset2")
          div(class="airbug-loader-container")
            img(class="loader", src="/img/ajax-loader.gif", alt="loading...")
    div(id="explainer-page", class="page")
      div(class="row")
        div(class="col-sm-6 col-sm-offset-3")
      div(class="tagline")
        h1(class="header-tagline") Collaborative chat for developers
      div(class="row row1")
        div(class="col-sm-2 col-sm-offset-5")
          form(class="form-inline", role="form")
            div(class="form-group")
            button(type="button", class="btn btn-default button-font", id="beta-sign-up-button-two") sign up for beta - free!
      div(class="row row2")
        div(class="col-sm-6 col-sm-offset-3")
          div(class="airbug-screenshot")
            img(src="http://placekitten.com/600/400" alt="product image")
      div(class="row row3")
        div(class="col-sm-10 col-sm-offset-1")
          div(class="benefit-container")
            h1(class="benefit-title") Collaborate Asynchronously
            h4(class="benefit-description") Questions on code and features, while important, do not always require immediate attention. airbug fosters efficiency by allowing you to effectively collaborate with your team, on your own time.
          div(class="row")
            div(class="col-md-4")
              div(class="feature-container")
                div(id="capture-content-feature-example", class="feature-example")
                  div(id="capture-content-messages-container", class="messages-container")
                    div(id="capture-content-start-message", class="message-wrapper")
                      div(class="message-sent-by") Brian
                      div(class="message-sent-at") 8:40PM
                      div(class="message-body") Can you send me a screen shot?
                    div(id="capture-content-reply-message", class="message-wrapper")
                      div(class="message-sent-by") You
                      div(class="message-sent-at") 8:40PM
                      div(class="message-body") Here ya go
                      div(class="message-image-wrapper")
                        img(src="/img/image-message.png", class="message-image")
                  div(id="capture-content-chat-form", class="chat-form")
                    form(class="form-inline", role="form")
                      div(id="capture-content-chat-input", class="form-group chat-input")
                        input(type="text", class="form-control", id="chat-message", placeholder="")
                      button(id="capture-content-camera-button", type="button", class="btn btn-default")
                        div(class="glyphicon glyphicon-camera")
                h5(class="feature") Content capture
                p(class="feature-description") Capture and share content with one click. Easily grab web clippings, take screenshots and transfer code into the conversation.
            div(class="col-md-4")
              div(class="feature-container")
                div(id="image-markup-feature-example", class="feature-example")
                  div(id="image-markup-messages-container", class="messages-container")
                    div(id="image-markup-start-message", class="message-wrapper")
                      div(class="message-sent-by") Brian
                      div(class="message-sent-at") 8:40PM
                      div(class="message-body") What's wrong with this image?
                      div(class="message-image-wrapper")
                        img(src="/img/image-message.png", class="message-image")
                        div(class="message-image-markup-icon")
                          button(id="image-markup-markup-button", type="button", class="btn btn-default")
                            div(class="glyphicon glyphicon-pencil")
                    div(id="image-markup-reply-message", class="message-wrapper")
                      div(class="message-sent-by") You
                      div(class="message-sent-at") 8:40PM
                      div(class="message-body") It's missing an airbug!
                      div(class="message-image-wrapper")
                        img(src="/img/image-message.png", class="message-image")
                h5(class="feature") Image markup
                p(class="feature-description") Elaborate on ideas by adding text directly to an image, point out what's important with arrows, and markup specifics with the draw tool.
            div(class="col-md-4")
              div(class="feature-container")
                div(id="code-markup-feature-example", class="feature-example")
                  div(id="code-markup-messages-container", class="messages-container")
                    div(id="code-markup-start-message", class="message-wrapper")
                      div(class="message-sent-by") Brian
                      div(class="message-sent-at") 8:40PM
                      div(class="message-body") What's wrong with this code?
                      div(class="message-code-wrapper")
                        div(class="message-code") if(false) {
                            doSomething();
                          }
                        div(class="message-code-markup-icon")
                          button(id="code-markup-markup-button", type="button", class="btn btn-default")
                            div(class="glyphicon glyphicon-pencil")
                    div(id="code-markup-reply-message", class="message-wrapper")
                      div(class="message-sent-by") You
                      div(class="message-sent-at") 8:40PM
                      div(class="message-body") Found the problems!
                      div(class="message-code-wrapper")
                        div(class="message-code") if (false) {
                h5(class="feature") Code annotations 
                p(class="feature-description") Discuss code, provide feedback, and solve problems directly in the chat window by annotating code with comments and highlights.
      div(class="row row4")
        div(class="col-sm-10 col-sm-offset-1")
          div(class="benefit-container")
            h1(class="benefit-title") Maintain frame of reference
            h4(class="benefit-description") Your time is valuable. Don't waste it getting up to speed or reconstructing your previous discussion. airbug allows you to maintain a frame of reference in each conversation, past or present, letting you pick up right where you left off.  
          div(class="row")
            div(class="col-md-4")
              div(class="feature-container")
                div(id="threaded-feature-example", class="feature-example")
                  div(id="threaded-messages-container", class="messages-container")
                    div(id="threaded-start-message", class="message-wrapper")
                      div(class="message-sent-by") Brian
                      div(class="message-sent-at") 8:40PM
                      div(class="message-body") Did you just break the server?
                        div(class="message-reply-icon")
                          button(id="reply-button", type="button", class="btn btn-default")
                            div(class="glyphicon glyphicon-share-alt")
                      div(id="threaded-reply-message", class="message-wrapper reply-message")
                        div(class="message-sent-by") You
                        div(class="message-sent-at") 8:40PM
                        div(class="message-body") Yep! My bad...
                h5(class="feature") Threaded conversations
                p(class="feature-description") Many chat clients require you to have a chronological conversation. airbug offers threaded conversations to organize your chat by topic making collaboration simple and keeping responses relevant no matter where the conversation picks up. 
            div(class="col-md-4")
              div(class="feature-container")
                div(id="embedded-content-feature-example", class="feature-example")
                  div(id="embedded-content-messages-container", class="messages-container")
                    div(id="embedded-content-image-message", class="message-wrapper")
                      div(class="message-sent-by") Brian
                      div(class="message-sent-at") 8:40PM
                      div(class="message-image-wrapper")
                        img(src="/img/image-message.png", class="message-image")
                    div(id="embedded-content-code-message", class="message-wrapper")
                      div(class="message-sent-by") Brian
                      div(class="message-sent-at") 8:40PM
                      div(class="message-code-wrapper")
                        div(class="message-code") if(false) {
                              doSomething();
                            }
                h5(class="feature") Embedded content 
                p(class="feature-description") Keep everyone on the same page by embedding content directly into the conversation. Automatically view screenshots, github issues, code snippets and other types of content typically hidden behind links. 
            div(class="col-md-4")
              div(class="feature-container")
                div(id="fingertips-feature-example",class="feature-example")
                  div(id="snapshot-toolbar")
                    div(id="snapshot-code-button", type="button", class="btn btn-default") Snapshot
                  div(id="snapshot-content-container", class="messages-container")
                    div(id="snapshot-content-message-one", class="message-wrapper")
                      div(class="message-sent-by") Sung
                      div(class="message-sent-at") 2:25PM
                      div(class="message-body") yo can you get at me with that bug report?
                    div(id="snapshot-content-message-two", class="message-wrapper")
                      div(class="message-sent-by") Brian
                      div(class="message-sent-at") 2:25PM  
                      div(class="message-body") here is the bug report
                      div(class="message-image-wrapper")
                        img(src="/img/image-message.png", class="message-image")
                    div(id="snapshot-content-message-three", class="message-wrapper")
                      div(class="message-sent-by") Sung
                      div(class="message-sent-at") 2:25PM  
                      div(class="message-body") Cool, looks good now. I'll close it up.
                    div(id="snapshot-content-message-four", class="message-wrapper")
                      div(class="message-sent-by") Sung
                      div(class="message-sent-at") 2:25PM
                      div(class="message-image-wrapper")
                        img(src="/img/image-message.png", class="message-image")
                h5(class="feature") Snapshots of content
                p(class="feature-description") Establish a frame of reference for future conversations by capturing snapshots of content in the moment.
      div(class="row row5")
        div(class="col-sm-10 col-sm-offset-1")
          div(class="benefit-container")
            h1(class="benefit-title") Stay in flow
            h4(class="benefit-description") We know it’s important for developers to reduce noise during the day and minimize distractions. airbug creates an environment that allows you to keep your head down and turn bits.
          div(class="row")
            div(class="col-md-4")
              div(class="feature-container")
                div(id="default-inactive-mode-feature",class="feature-example")
                  div(class="input-text-layout") 
                      div(class="grey-box")
                        div(id="inactive-button")
                      div(class="buzz-mode-text") Brian Niesler
                      div(class="left-buzz-feature")
                        span(class="glyphicon glyphicon-volume-up")
                  div(class="input-group input-group")
                    input(type="text",id="default-inactive-mode-feature-form", class="form-control input-group", placeholder="type your message here")
                h5(class="feature") &quot;Heads Down &quot; mode
                p(class="feature-description") shield yourself from unnecessary distractions by defaulting to &quot;heads down &quot mode unless you are active in the client. Now your team members know when you are available to chat and when you are coding away.
            div(class="col-md-4")
              div(class="feature-container")
                div(class="feature-example")
                  div(id="buzz-mode-feature-one")
                    div(class="input-text-layout") 
                      div(class="grey-box")
                        div(class="inactive-buzz-button")
                      div(class="buzz-mode-text") Brian Neisler
                      div(class="left-buzz-feature")
                        span(class="glyphicon glyphicon-volume-up")
                  div(id="buzz-mode-feature-two")
                    div(class="input-text-layout") 
                      div(class="grey-box")
                        div(class="inactive-buzz-button")
                      div(class="buzz-mode-text") Sung Choi
                      div(class="left-buzz-feature")
                        span(class="glyphicon glyphicon-volume-up")
                  div(id="buzz-mode-feature-three")
                    div(class="input-text-layout") 
                      div(class="grey-box")
                        div(class="inactive-buzz-button")
                      div(class="buzz-mode-text") Michelle Wegenstein
                      div(class="left-buzz-feature")
                        span(class="glyphicon glyphicon-volume-up")
                h5(class="feature") Buzz feature 
                p(class="feature-description") While it is important for you to keep focused,  there will always be times when it is necessary for your team to get a hold of you. Grab attention using the buzz feature.
            div(class="col-md-4")
              div(class="feature-container")
                div(id="fingertips-feature-example",class="feature-example")
                  div(id="fingertips-toolbar")
                      div(id="fingertips-camera-button", type="button", class="btn btn-default")
                        div(class="glyphicon glyphicon-camera")
                      div(id="fingertips-code-button", type="button", class="btn btn-default")
                        div(class="glyphicon glyphicon-chevron-left") C
                        div(class="glyphicon glyphicon-chevron-right")
                      div(id="fingertips-code-button", type="button", class="btn btn-default") Github
                  div(id="fingertips-content-container", class="messages-container")
                    div(id="fingertips-content-image", class="message-wrapper")
                      div(class="message-sent-by") Dustin
                      div(class="message-sent-at") 2:25PM
                      div(class="message-image-wrapper")
                        img(src="/img/image-message.png", class="message-image")
                    div(id="fingertips-content-code", class="message-wrapper")
                      div(class="message-sent-by") Brian
                      div(class="message-sent-at") 2:25PM  
                      div(class="message-code-wrapper")
                        div(class="message-code") THIS IS WHERE CODE SNIPPETS GO
                    div(id="fingertips-content-gist", class="message-wrapper")
                      div(class="message-sent-by") Sung
                      div(class="message-sent-at") 2:25PM  
                      div(class="message-gist-wrapper")
                        div(class="message-gist") THIS IS WHERE GIST SNIPPET BE
                h5(class="feature") Everything at your fingertips
                p(class="feature-description") Quickly access all your content in one place. Collaborate on images, code, and content from your other favorite tools - all while staying in the chat client. 
      div(class="footer")
        div(class="row")
          div(class="col-sm-5 col-sm-offset-1 ") 
            h5(class="feature") About airbug
            p(class="about-description") airbug is a new type of collaborative chat client designed specifically with developers in mind. We believe in a very simple principle: help developers collaborate without breaking their concentration.
            p(class="about-description") Questions? Want to chat? Drop us a line at 
              a(href="mailto:info@airbug.com", target="_blank") info@airbug.com
            form(class="form-inline", role="form")
              div(class="form-group")
              button(type="button", class="btn btn-default button-font", id="beta-sign-up-button-two") sign up for beta - free!
          div(class="col-sm-5 col-sm-offset-1")
            h5(class="feature") Connect with airbug
            div(class="social-feed-container")
              a(href="https://twitter.com/airbug", target="_blank", class="twitter-follow-button", data-show-count="false")
            p(class="social-text") Follow us on 
              a(href="https://twitter.com/airbug", target="_blank") Twitter
            div(class="social-feed-container")
              div(class="fb-like", data-href="http://www.facebook.com/integrate.airbug", data-width="50px", data-height="25px", data-colorscheme="light", data-layout="button_count", data-action="like", data-show-faces="true", data-send="false") 
            p(class="social-text") Like us on 
              a(href="https://www.facebook.com/integrate.airbug", target="_blank") Facebook
    div(id="beta-sign-up-page", class="page")
      nav
        div(class="nav-pull-down-tab-container")
          div(id="nav-pull-down-tab", class="btn btn-large")
            span(class="glyphicon glyphicon-chevron-left", id="chevron-left")
      div(class="row-fluid")
        div(class="span12")
          div(class="beta-sign-up-container")
            div(id="instructions-container")
              h3(class="instructions-text") Select the three tools you use the most and place them in the jar
            div(class="arrow-container")
              img(class="arrow", src="/img/arrow-down.png", alt="drag and drop the airbugs to the bug jar");
            div(id="continue-sign-up-button-container")
              button(id="continue-sign-up-button", class="btn btn-large btn-info") Continue sign up
            div(id="bug-swarm-container")
              div(id="airbug-zendesk-container", class="airbug-container")
                img(id="airbug-zendesk-image", class="airbug-image", src="/img/airbug-service-swarm-zendesk.png", alt="Zendesk")
              div(id="airbug-salesforce-container", class="airbug-container")
                img(id="airbug-salesforce-image", class="airbug-image", src="/img/airbug-service-swarm-salesforce.png", alt="Salesforce")
              div(id="airbug-jira-container", class="airbug-container")
                img(id="airbug-jira-image", class="airbug-image", src="/img/airbug-service-swarm-jira.png", alt="JIRA")
              div(id="airbug-uservoice-container", class="airbug-container")
                img(id="airbug-uservoice-image", class="airbug-image", src="/img/airbug-service-swarm-uservoice.png", alt="User Voice")
              div(id="airbug-basecamp-container", class="airbug-container")
                img(id="airbug-basecamp-image", class="airbug-image", src="/img/airbug-service-swarm-basecamp.png", alt="Basecamp")
              div(id="airbug-bitbucket-container", class="airbug-container")
                img(id="airbug-bitbucket-image", class="airbug-image", src="/img/airbug-service-swarm-bitbucket.png", alt="bitbucket")
              div(id="airbug-github-container", class="airbug-container")
                img(id="airbug-github-image", class="airbug-image", src="/img/airbug-service-swarm-github.png", alt="github")
              div(id="airbug-pivotaltracker-container", class="airbug-container")
                img(id="airbug-pivotaltracker-image", class="airbug-image", src="/img/airbug-service-swarm-pivotaltracker.png", alt="Pivotal Tracker")
              div(id="airbug-other-container", class="airbug-container")
                img(id="airbug-writein-image", class="airbug-image", src="/img/airbug-service-swarm-writein.png", alt="Other")
                div(id="other-airbug-form-container")
                  div(id="other-airbug-form")
                    div(id="other-airbug-form-cancel-button", class="", type="button") &nbsp;x
                    div(class="control-group")
                      div(class="controls")
                        input(type="text", id="other", name="other", placeholder="Specify another tool here")
                    div(class="control-group")
                      div(class="controls")
                        button(id="other-airbug-form-submit-button", class="btn btn-info", type="button") Submit
            div(id="airbug-jar-container")
              img(class="airbug-jar-image", src="/img/airbug-jar.png")
              div(id="airbug-jar-hotspot-1", class="airbug-jar-hotspot")
              div(id="airbug-jar-hotspot-2", class="airbug-jar-hotspot")
              div(id="airbug-jar-hotspot-3", class="airbug-jar-hotspot")
      div(id="beta-sign-up-modal", class="modal fade")
        div(class="modal-dialog")
          div(class="modal-content")
            div(class="modal-header")
              button(type="button", class="close", data-dismiss="modal", aria-hidden="true")&times;
              h3 Beta sign up
            div(class="modal-body")
              div(class="beta-sign-up-form-container")
                form(method="post", action="beta-sign-up", id="beta-sign-up-form", class="form-horizontal")
                  div(class="control-group")
                    label(class="control-label", for="name") Name
                    div(class="controls")
                      input(type="text", id="name", name="name", placeholder="Name")
                      div(class="validation required") * required
                  div(class="control-group")
                    label(class="control-label", for="email") Email
                    div(class="controls")
                      input(type="text", id="email", name="email", placeholder="Email")
                      div(class="validation required") * required
                  div(class="control-group")
                    label(class="control-label", for="company") Company
                    div(class="controls")
                      input(type="text", id="company", name="company", placeholder="Company")
                      div(class="validation")
                  div(class="control-group")
                    label(class="control-label", for="phoneNumber") Phone Number
                    div(class="controls")
                      input(type="text", id="phoneNumber", name="phoneNumber", placeholder="Phone Number")
                      div(class="validation")
                  div(class="control-group")
                    label(class="control-label", for="companySize") Company Size
                    div(class="controls")
                      select(id="companySize", name="companySize")
                        option 1 person
                        option 2 - 5 people
                        option 6 - 20 people
                        option 20+ people
                      div(class="validation")
                  div(class="control-group")
                    label(class="control-label", for="position") Position in Company
                    div(class="controls")
                      input(type="text", id="position", name="position", placeholder="Position in Company")
                      div(class="validation")
                  div(class="control-group")
                    div(class="controls")
                      button(id="beta-sign-up-form-submit-button", class="btn btn-info", type="button") Submit
                      button(id="beta-sign-up-form-cancel-button", class="btn", type="button") Cancel
    div(id="thank-you-page", class="page")
      div(class="row-fluid")
        div(class="span12")
          div(class="thank-you-container")
            div(id="thank-you-airbug")
              img(id="thank-you-airbug-image", class="thankyou-airbug-image", src="/img/airbug-carry.png")
              div(id="thank-you-message")
                p(style='white-space:pre;')
                    | Thank you for signing up!
                p(style='white-space:pre;')
                    | We'll contact you when
                    | the beta opens up.
