div(class="row-fluid")
        div(class="span12")
          div(class="logo-container")
            img(class="logo", src="/img/airbug-logo-large.png", alt="airbug", onload="Loader.loaded();")
          div(class="marketing-container")
            div(class="marketing-tagline")
              h2(id="marketing-tagline-header")
            div(class="marketing-subpoints")
              div(class="marketing-subpoint1")
                h4 Enrich and streamline team communication
                p airbug enables content from the other tools you already use to be embedded directly into your team’s conversations.
              div(class="marketing-subpoint2")
                h4 Easily search conversations and content
                p Hours, days or months down the road your team’s conversations and content remain searchable, keeping everyone moving forward not endlessly scrolling backward.
              div(class="marketing-subpoint3")
                h4 Enable action through integration
                p By removing barriers to communication airbug sets team collaboration free of cross platform barriers to focus on what they do best, production.
          div(class="beta-sign-up-button-container")
            button(id="beta-sign-up-button", class="btn btn-large btn-info") Sign up for the beta