extends layout
block content
  script.
      var firstPage="termsPage";
      Loader.numExpectedLoadedItems = 3;
  div(id="page-container")
    div(id="loading-page", class="page")
      div(class="row")
        div(class="col-sm-8 col-sm-offset-2")
          //if lte IE 10
            p(class="conditional") Say whaaaaaaat?? Our site does not currently support IE 10 or below. Please update to the most recent version of IE or use one of the following browsers: <a href="https://www.mozilla.org/en-US/firefox/new/?utm_source=firefox-com&utm_medium=referral"> Firefox</a>, <a href="https://www.google.com/intl/en/chrome/browser/"> Chrome</a>, or <a href="http://www.opera.com"> Opera</a>.<script></script>
          div(id="airbug-loader", class="airbug-loader-container")
            img(class="loader", src="/img/ajax-loader.gif", alt="loading...")
    div(id="explainer-page", class="page terms-background")
      div(class="row")
        div(class="col-sm-8 col-sm-offset-1")
          div
            h5(class="terms-title") Terms of Service
      div(class="row")
        div(class="col-sm-8 col-sm-offset-1")
          div(class="intro-terms")
            h5(class="term-feature") Thank you for using airbug!
            p(class="term-description") By using the airbug.com web site (&quot;Site&quot;), or any services of airbug, Inc (&quot;Services&quot;, &quot;airbug&quot;, or &quot;we&quot;), a Delaware corporation, you are agreeing to be bound by the following terms and conditions (&quot;Terms of Service&quot;). IF YOU ARE ENTERING INTO THIS AGREEMENT ON BEHALF OF A COMPANY OR OTHER LEGAL ENTITY, YOU ACKNOWLEDGE THAT YOU HAVE THE LEGAL AUTHORITY TO BIND SUCH ENTITY, ITS AFFILIATES AND ALL USERS WHO ACCESS OUR SERVICES THROUGH YOUR ACCOUNT TO THESE TERMS AND CONDITIONS, IN WHICH CASE THE TERMS "YOU" OR "YOUR" SHALL REFER TO SUCH ENTITY, ITS AFFILIATES AND USERS ASSOCIATED WITH IT. IF YOU DO NOT HAVE SUCH AUTHORITY, OR IF YOU DO NOT AGREE WITH THESE TERMS AND CONDITIONS, YOU MUST NOT ACCEPT THIS AGREEMENT AND MAY NOT USE THE SERVICES.
            p(class="term-description") If airbug makes any updates or changes to this Terms of Service, we will notify you via e-mail or a posting on the Site. New postings, updates, and changes to the Site and Service shall be subject to this Terms of Service. You assume responsibility for reading, accepting, and abiding by updates and changes to these Terms of Service. Continued use of the Site or Service will constitute your acceptance to updates and changes to the Terms of Service. If you do not agree in part or whole to the current version of the Terms of Service, your sole remedy is to stop accessing and using the Service or Site immediately.
              ol
                li(class="list-feature") Privacy
                p(class="term-description") Your privacy is of the utmost importance to us. Please read our PRIVACY POLICY to better understand how we collect and use the information and data shared on airbug.
                li(class="list-feature") Registration and Account Security
                p(class="term-description") By signing up for an airbug account and using airbug you certify that:
                  ul
                    li(class="term-description") If registering as an individual, you are 13 years or older or above the minimum age required by applicable law.
                    li(class="term-description") If registering as a company, you certify that you have the legal authority to register for and bind your company to such an agreement.
                    li(class="term-description") You agree you are legally permitted to use the service under applicable law.
                    li(class="term-description") You will not provide false information through the registration process or create an account for anyone other than yourself without his or her permission.
                    li(class="term-description") You will not share your password or other account security credentials, allow others to access your account, or jeopardize the security of your account.
                    li(class="term-description") Any and all text, programming code, images, files, data, or other content (&quot;Content&quot;) posted using your account is your sole responsibility, including Content posted by others using your account.  Furthermore, you certify all Content posted using your account is your property or you have permission to repost the Content. Posting content that violates copyright , trademark or other applicable laws is prohibited and violates the Terms of Service.
                    li(class="term-description") If your account is compromised or you notice or suspect a security breach, you agree to notify airbug of the breach immediately.
                    li(class="term-description") You will not use the airbug Service for any illegal activities as defined by any and all applicable local, state, and national law and by the laws of the State of California.
                li(class="list-feature") Payment and Refunds Account Terms
                p(class="term-description") Registering for a premium account requires the use of an active credit card which airbug will bill for the cost of the Service. airbug is not responsible for refused payment charges and will notify you in the event the charge is refused. Failure to submit payment within five (5) days will result in the account becoming delinquent. After ninety (90) days, delinquent accounts will be terminated and data associated with the account will be deleted.
                p(class="term-description") Premium accounts are billed on a monthly basis and are non-refundable. No refunds for use of partial months will be made
                li(class="list-feature") Cancellation and Termination of Services
                p(class="term-description") You are solely responsible for proper cancellation of your account and may cancel your account at any time through the Account Settings panel in your account. Emailing, calling, or writing to airbug is not considered proper cancellation of your account. It is your responsibility to cancel your account (without limiting airbug’s other rights to terminate your account).
                p(class="term-description") All of your Content and account information will be deleted from the airbug Service ninety (90) days after the date of cancellation or termination. Any deleted Content cannot be recovered.
                p(class="term-description") Cancellation of your account prior to the end of your billing cycle will result in the non-renewal charge of your account. Your account will remain active until the end of your billing cycle. No refunds will be made for partial billing periods used.
                p(class="term-description") Airbug reserves the right to suspend or terminate your account and refuse Service for any reason at any time. Termination of your Service by airbug will result in the termination your account and access to your account and all associated Content.
                p(class="term-description") Airbug reserves the right to refuse account registration and use of the Service to anyone for any reason at any time.
                li(class="list-feature") Modifications to the Service and Prices
                p(class="term-description") Airbug reserves the right to, at any time for any reason, change, modify, or discontinue the Service in whole or part with our without notice. Airbug will make every effort to notify users of updates or changes to the software or discontinuation of features prior to implementing them, however, in certain cases it may be prudent to act without delay and notice may not be necessary.
                li(class="list-feature") Content, Copyright and Content Ownership
                p(class="term-description") You agree all your posted Content complies with applicable local, state, and federal laws and the laws of the State of California, including but not limited to copyright law, intellectual property law, export controls, and licensing restrictions.
                p(class="term-description") Airbug claims no intellectual property rights over the material you provide to the Service. Your profile and materials uploaded remain yours. However, by posting Content with a free account your Content is available to be viewed publicly, you agree to allow others to view your Content. Premium account users who change settings to be viewed publicly, agree to allow others to view your Content.
                p(class="term-description") Any feedback, comments or suggestions provided to airbug by you about the Site or Service are done so voluntarily.  Providing feedback, comments or suggestions grants airbug a universal, non-exclusive, royalty-free, indefinite and everlasting license to airbug to post, execute, or use as we see fit. You are relinquishing any legal ownership to airbug effective automatically and immediately without notice from airbug.
                p(class="term-description") If you believe that Content posted on airbug infringes upon your copyright, you may contact airbug at <a href="mailto:support@airbug.com">support@airbug.com</a> by sending a notice requesting that the offending Content be removed or blocked. The notice must include the following information: (i) a physical or electronic signature of the copyright owner or an agent authorized to act on their behalf; (ii) identification of the copyrighted work claimed to have been infringed; (iii) identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be blocked, and reasonably sufficient information allow airbug to locate the material; (iv) your contact information, including your address, telephone number, and an email; (v) a good-faith statement that you believe use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and (vi) a statement that the information in the notification is accurate, and, under penalty of perjury, that you are authorized to act on behalf of the copyright owner.
                p(class="term-description") Notices and counter notices must adhere to the current requirements as set forth under the Digital Millennium Copyright Act of 1998 (the &quot;DMCA&quot;).
                p(class="term-description") Airbug does not monitor Content posted to the Service but retains the right (but not obligation) to remove any Content we believe is in violation of any Terms of Service, local, state, or federal laws and the laws of the State of California.
                li(class="list-feature") Security
                p(class="term-description") The airbug site and Service including your Content may be unencrypted and be: (i) transmitted across various networks not owned or operated by airbug; (ii) transmission to and storage on airbug’s third party providers networks and devices.
                p(class="term-description") Airbug makes every attempt to keep the service secure and free from defects, however, we cannot guarantee that we will be successful in doing so. Use of the Site and Service is at your own risk.
                p(class="term-description") Content transmitted and stored on airbug Service cannot be guaranteed. It is your responsibility to secure and backup any data transmitted using airbug Service. airbug will have no liability for the loss of your Content in any form. Airbug has no liability for unauthorized access to your Content.
                li(class="list-feature") Warranty Disclaimer
                p(class="term-description") The airbug Site and Service are provided on a &quot;as is&quot; and &quot;as available&quot; basis without any warranties of any kind. Airbug, its suppliers, subcontractors, providers, and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. Neither airbug nor its suppliers and licensors, makes any warranty that the Site or Service will be error free or that access thereto will be continuous or uninterrupted. You understand that you download from, or otherwise obtain content or services through, the Site and Service at your own discretion and risk.
                li(class="list-feature") Limitation of Liability
                p(class="term-description") TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, AIRBUG AND ITS SUBSIDIARIES, AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING WITHOUT LIMITATION, LOST PROFITS, DATA, USE, LOST SALES OR BUSINESS, GOOD-WILL, BUSINESS INTERRUPTION, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (i) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICES; (ii) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE SERVICES, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; (iii) ANY CONTENT OBTAINED FROM THE SERVICES; AND (iv) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE) OR ANY OTHER LEGAL THEORY, WHETHER OR NOT OVERTIME HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.
                p(class="term-description") Some jurisdictions do not allow the exclusion of Limitations of Liabilities for indirect and consequential damages. Some or all of the above limitations may not apply. In jurisdictions where the Limitation of Liability does not apply, the airbug Service is prohibited from being accessed.
                li(class="list-feature") Copyright
                p(class="term-description") The look and feel of the airbug Site and Service are copyright &copy;2013 airbug Inc. All rights reserved. You may not duplicate, copy, or reuse any portion of the text, HTML/CSS, Javascript, software, or visual design elements or concepts without express written permission from airbug. Registration and payment for Service does not constitute permission.
                li(class="list-feature") Indemnification
                p(class="term-description") You shall defend, indemnify, and hold harmless airbug and it’s affiliates against any claim, demand, suit or proceeding made or brought against airbug by a third party alleging that your Content, or use of the Service in violation of this Agreement, infringes or misappropriates the intellectual property rights of a third party or violates applicable law, and shall indemnify airbug for any damages finally awarded against, and for reasonable attorney’s fees incurred by, airbug in connection with any such claim, demand, suit or proceeding; provided, that airbug (i) promptly gives You written notice of the claim, demand, suit or proceeding; (ii) gives You sole control of the defense and settlement of the claim, demand, suit or proceeding (provided that You may not settle any claim, demand, suit or proceeding unless the settlement unconditionally releases airbug of all liability); and (iii) provides to You all reasonable assistance, at Your expense.
                li(class="list-feature") General
                p(class="term-description") The failure of airbug to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and airbug and govern your use of the Service, superseding any prior agreements between you and airbug (including, but not limited to, any prior versions of the Terms of Service). You agree that these Terms of Service and Your use of the Service are governed under the State of California law.
        div(class="footer")
          div(class="row")
            div(class="col-sm-5 col-sm-offset-1 ")
              h5(class="feature") About airbug
              p(class="about-description") airbug is a new type of collaborative chat client designed specifically with developers in mind. We believe in a very simple principle: help developers collaborate without breaking their concentration.
              p(class="about-description") Questions? Want to chat? Drop us a line at
                a(href="mailto:info@airbug.com")  info@airbug.com
              form(class="form-inline", role="form")
                div(class="form-group")
                button(type="button", class="btn btn-default button-font call-out", id="beta-sign-up-button-three") request beta invite - free!
                div(class="copyright") Copyright &copy; airbug Inc. 2013 - All Rights Reserved. Read our <a href="/privacy">Privacy Policy</a> &amp; <a href="/terms">Terms</a>.
            div(class="col-sm-5 col-sm-offset-1")
              h5(class="feature") Connect with airbug
              div(class="social-feed-container")
                div(class="g-plusone", data-annotation="none", data-href="https://plus.google.com/u/0/+Airbug/posts")
              p(class="social-text") Add us on
                a(href="https://plus.google.com/u/0/+Airbug/posts", target="_blank")  Google+
              div(class="social-feed-container")
                a(href="https://twitter.com/airbug", target="_blank", class="twitter-follow-button", data-show-count="false")
              p(class="social-text") Follow us on
                a(href="https://twitter.com/airbug", target="_blank")   Twitter
              div(class="social-feed-container")
                div(class="fb-like", data-href="http://www.facebook.com/integrate.airbug", data-width="50px", data-height="25px", data-colorscheme="light", data-layout="button_count", data-action="like", data-show-faces="true", data-send="false")
              p(class="social-text") Like us on
                a(href="https://www.facebook.com/integrate.airbug", target="_blank")  Facebook
    //-Copyright &copy; airbug Inc. 2013 - All Rights Reserved