extends layout

block content
  div(id="page-container")
    div(id="loading-page")
      div(class="row-fluid")
        div(class="span8 offset2")
          div(class="airbug-loader-container")
            img(class="loader", src="/images/ajax-loader.gif", alt="loading...")
    div(id="explainer-page")
      div(class="row-fluid")
        div(class="span8 offset2")
          div(class="logo-container")
            img(class="logo", src="/images/airbug-logo-large.png", alt="airbug", onload="Loader.loaded();")
          div(class="marketing-container")
            p(class="marketing") Marketing content goes here (video once it's done)
          div(class="beta-signup-button-container")
            button(id="beta-signup-button", class="btn btn-large btn-info") Signup for the beta
    div(id="beta-signup-page")
      div(class="row-fluid")
        div(class="span12")
          div(class="beta-signup-container")
            div(class="instructions-container")
              h3(class="instructions-text") Select the three tools you use the most and place them in the jar
            div(id="bug-swarm-container")
              div(id="airbug-zendesk-container", class="airbug-container")
                img(id="airbug-zendesk-image", class="airbug-image", src="/images/airbug-service-swarm-zendesk.png", alt="Zendesk")
              div(id="airbug-salesforce-container", class="airbug-container")
                img(id="airbug-salesforce-image", class="airbug-image", src="/images/airbug-service-swarm-salesforce.png", alt="Salesforce")
              div(id="airbug-jira-container", class="airbug-container")
                img(id="airbug-jira-image", class="airbug-image", src="/images/airbug-service-swarm-jira.png", alt="JIRA")
              div(id="airbug-uservoice-container", class="airbug-container")
                img(id="airbug-uservoice-image", class="airbug-image", src="/images/airbug-service-swarm-uservoice.png", alt="User Voice")
              div(id="airbug-basecamp-container", class="airbug-container")
                img(id="airbug-basecamp-image", class="airbug-image", src="/images/airbug-service-swarm-basecamp.png", alt="Basecamp")
              div(id="airbug-bitbucket-container", class="airbug-container")
                img(id="airbug-bitbucket-image", class="airbug-image", src="/images/airbug-service-swarm-bitbucket.png", alt="bitbucket")
              div(id="airbug-github-container", class="airbug-container")
                img(id="airbug-github-image", class="airbug-image", src="/images/airbug-service-swarm-github.png", alt="github")
              div(id="airbug-pivotaltracker-container", class="airbug-container")
                img(id="airbug-pivotaltracker-image", class="airbug-image", src="/images/airbug-service-swarm-pivotaltracker.png", alt="Pivotal Tracker")
              div(id="airbug-other-container", class="airbug-container")
                img(id="airbug-other-image", class="airbug-image", src="/images/airbug-service-swarm-other.png", alt="Other")
            div(class="arrow-container")
              img(class="arrow", src="/images/arrow.png", alt="drag and drop the airbugs to the bug jar");
            div(class="airbug-jar-container")
              img(class="airbug-jar-image", src="/images/airbug-jar.png")
              div(id="landing-space-1")
              div(id="landing-space-2")
              div(id="landing-space-3")
      div(id="beta-signup-popup-container")
        div(id="beta-signup-popup")
          div(class="beta-signup-form-container")
            form(method="post", action="beta-signup", id="beta-signup-form")
              fieldset
                label What else would you like to see on this page?
                input(type="text", name="whatElse", class="input-beta-signup")
              fieldset
                label What's the number 1 reason that is stopping you from signing up for the beta?
                input(type="text", name="stoppingSignup", class="input-beta-signup")
              fieldset
                label What's your biggest concern about this product or service?
                input(type="text", name="biggestConcern", class="input-beta-signup")
              fieldset
                label Is there anything that is confusing on this page?
                input(type="text", name="anythingConfusing", class="input-beta-signup")
              fieldset
                label What can we help you solve?
                input(type="text", name="helpSolve", class="input-beta-signup")
              button(id="beta-signup-form-submit-button", class="btn btn-info", type="button") Submit
              button(id="beta-signup-form-cancel-button", class="btn", type="button") Cancel